.blog-contents {
  /* 左線 */
  border-left: 5px solid white;
  padding-top: 25px;
  padding-left: 80px;
  margin-left: 70px;
}

.blog-contents-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blog-contents img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.blog-contents p {
  margin-top: 40px;
  color: white;
  text-align: left;
}
