.blog-contents {
  /* 左線 */
  border-left: 5px solid white;
  padding-top: 25px;
  padding-left: 80px;
  margin-left: 70px;
}

.blog-contents-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blog-contents img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.blog-contents p {
  font-size: 20px;
  margin-top: 40px;
  color: white;
  text-align: left;
}

@media (max-width: 1279px) {
  .blog-contents img {
    height: 30%;
    width: 35%;
  }

  .blog-contents p {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .blog-contents {
    border: none;
    padding: 0;
    margin-left: 0;
  }

  .blog-contents img {
    height: 25%;
    width: 30%;
  }

  .blog-contents p {
    font-size: 1rem;
    margin-top: 20px;
  }
}
