body {
  margin: 0;
  background-color: black;
  color: white;
}

section {
  margin-top: 40px;
  height: auto;
}

h2 {
  margin-left: 40px;
}

ul {
  list-style-type: none;
}

li {
  position: relative;
}

img {
  height: 20px;
  width: auto;
}
