.contact-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 左線 */
  border-left: 5px solid white;
  padding-top: 25px;
  padding-left: 80px;
  margin-left: 70px;
  margin-bottom: 40px;
}

.contact-list {
  margin: 0 auto;
}

.contact-list li {
  font-size: 14px;
  text-align: left;
}

.contact-list ul {
  margin: 0 0;
  width: 450px;
}

.contact-list li::after {
  content: "";
  position: absolute;
  display: block;
  top: 0.5em;
  left: -1.5em;
  width: 10px;
  height: 5px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

.contact-contents img {
  margin-top: 15px;
  height: 20px;
  width: auto;
}
