.contact-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 左線 */
  border-left: 5px solid white;
  padding-top: 25px;
  padding-left: 80px;
  margin-left: 70px;
  margin-bottom: 40px;
}

.contact-list {
  margin: 0 auto;
}

.contact-list li {
  font-size: 20px;
  text-align: left;
}

.contact-list ul {
  margin: 0 0;
  width: 450px;
}

.contact-list li::after {
  content: "";
  position: absolute;
  display: block;
  top: 0.5em;
  left: -1.5em;
  width: 10px;
  height: 5px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

.contact-contents img {
  margin-top: 15px;
  height: 30px;
  width: auto;
}

@media (max-width: 1279px) {
  .contact-list li {
    font-size: 1.2rem;
  }

  .contact-contents img {
    height: 25px;
  }
}

@media (max-width: 767px) {
  .contact-contents {
    border: none;
    padding: 0;
    margin-left: 0;
  }

  .contact-list {
    text-align: center;
  }

  .contact-list ul {
    width: 100%;
  }

  .contact-list li {
    font-size: 1rem;
  }

  .contact-contents img {
    height: 17px;
    margin: 2% auto 0 auto;
  }
}
