.logo_fadein {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.logo_fadein p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: auto;
  font-size: 4.0rem;
  color: white;
}

.TextTyping span {
    display: none;
  }
  
  /*文字列後ろの線の設定*/
  .TextTyping::after {
    content: "|";
    animation: typinganime .8s ease infinite;
  }
  
  @keyframes typinganime{
    from{opacity:0}
    to{opacity:1}
  }

@media (max-width: 1279px) {
    .logo_fadein p {
        font-size: 3.0rem;
    }
}

@media (max-width: 767px) {
    .logo_fadein p {
        font-size: 2.0rem;
    }
}