.logo_fadein {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.logo_fadein p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: auto;
  font-size: 5.0rem;
  color: white;
}

/*========= 1文字ずつ出現させるためのCSS ===============*/

.eachTextAnime span {
  opacity: 0;
}
.eachTextAnime.appeartext span {
  animation: text_anime_on 1s ease-out forwards;
}
@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1279px) {
    .logo_fadein p {
        font-size: 3.5rem;
    }
}

@media (max-width: 767px) {
    .logo_fadein p {
        font-size: 2.5rem;
    }
}