.profile-contents {
  border-left: 5px solid white;
  padding: 25px 10px 25px 80px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img1 {
  height: auto;
  width: 35%;
  box-shadow: 10px 10px #79bd9a;
  border-radius: 20px;
  display: inline;
  margin-left: 5vh;
}

.profile-list-1 {
  font-size: 20px;
  margin-left: 16%;
}

.profile-top, .profile-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 5vh; 
}

.profile-list-2 {
  font-size: 20px;
  margin-left: 5vh;
}

.profile-img2 {
  height: auto;
  width: 30%;
  border-radius: 20px;
  margin-left:18% ;
}

.profile-contents li {
  padding-bottom: 20px;
}

.profile-list-1 li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: -1.5em;
  width: 10px;
  height: 5px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

.profile-list-2 li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: -1.5em;
  width: 10px;
  height: 5px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

@media (max-width: 1279px) {
  .profile-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
  }

  .profile-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10vh;
  }

  .profile-img1 {
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: left top;
    margin-left:0 ;
  }

  .profile-list-1 {
    font-size: 1.2rem;
    margin-left:0 ;
  }

  .profile-list-2 {
    font-size: 1.2rem;
    margin-left:0 ;
  }

  .profile-img2 {
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: left bottom;
    margin-left:0 ;
  }
}

@media (max-width: 767px) {
  .profile-contents {
    border: none;
    padding: 0;
    margin-left: 0;
  }

  .profile-img1 {
    width: 30vw;
    height: 150px;
  }

  .profile-list-1 {
    font-size: 1rem;
    padding: 0 10%;
  }

  .profile-list-2 {
    font-size: 1rem;
    padding: 0 10%;
  }

  .profile-img2 {
    width: 30vw;
    height: 150px;
  }
}
