.services-contents {
  height: 650px;
  /* 左線 */
  border-left: 5px solid white;
  padding-top: 25px;
  margin-left: 70px;
}

.services-contents-inner {
  position: relative;
  font-size: 20px;
  color: black;
}

.service-panel {
  text-align: center;
  background-color: #79bd9a;
  width: 75px;
  /* 枠 */

  border-radius: 44px;
}

.service-panel img {
  height: 40%;
  width: 80%;
  margin: 0 auto;
  object-fit: cover;
}

.service-panel p {
  text-align: justify;
  text-justify: inter-ideograph;
  line-height: 1.6;
  margin-bottom: 12px;
  padding: 20px 40px;
  font-size: 13px;
  letter-spacing: 0.03em;
}

.services {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 10px;
}

.service-panel.services.swiper-slide {
  height: 550px
}

@media (max-width: 1279px) {
  .services-contents h3 {
    font-size: 1.1rem;
  }

  .service-panel img {
    height: 30%;
    width: 70%;
  }

  .services-contents p {
    font-size: 0.9rem;
  }
  .service-panel {
    height: 425px;
  }
}

@media (max-width: 767px) {
  .services-contents {
    border: none;
    height: 500px;
    padding: 0;
    margin-left: 7%;
    margin-right: 7%;
  }

  .services-contents h3 {
    font-size: 1rem;
    margin: 2% 5%;
  }

  .service-panel img {
    height: 40%;
    width: 60%;
  }

  .services-contents p {
    font-size: 0.8rem;
    padding: 10px 10px;
  }

  .service-panel {
    height: 300px;
  }
  .service-panel.services.swiper-slide {
    height: 400px
  }
}
