.skill-framework img {
  height: 14%;
  width: auto;
}

.imgae-resize img {
  display: block;
  height: 12%;
  width: 50%;
  margin: 7% auto;
}

.skill-language img {
  height: 16%;
  width: auto;
  padding: 0 12px;
}
.skill-api img {
  height: 14%;
  width: auto;
}

.skill-contents {
  /* 左線 */
  border-left: 5px solid white;
  padding-top: 25px;
  padding-left: 80px;
  margin-left: 70px;
}

.skill-contents-inner {
  position: relative;
  display: flex;

  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.skill-language {
  text-align: center;
  background-color: #79bd9a;
  padding: 10px 0;

  /* 枠 */
  width: 100%;
  height: 450px;

  box-shadow: 10px 15px 2px rgba(125, 125, 119, 0.35);
  border-radius: 44px;
}

.skill-framework {
  text-align: center;
  background-color: #79bd9a;
  padding: 10px 0;

  /* 枠 */
  width: 100%;
  height: 450px;

  box-shadow: 10px 15px 2px rgba(125, 125, 119, 0.35);
  border-radius: 44px;
}

.skill-api {
  text-align: center;
  background-color: #79bd9a;
  padding: 10px 0;

  /* 枠 */
  width: 100%;
  height: 450px;

  box-shadow: 10px 15px 2px rgba(125, 125, 119, 0.35);
  border-radius: 44px;
}

.skills {
  width: 60vh;
  margin: 0 10px;
}


@media (max-width: 1279px) {
 
  .skill-framework img {
    height: 11%;
    width: auto;
  }

  .imgae-resize img {
    height: 11%;
    width: 50%;
    margin: 4% auto;
  }

  .skill-language img {
    height: 13%;
    width: auto;
    padding: 0 12px;
  }

  .skill-contents-inner {
    font-size: 1rem;
  }

}

@media (max-width: 767px) {
}
